@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: Fabrica;
  src: url("/fonts/Fabrica.otf"); }
/* line 13, ../css/mrt_base.scss */
ul.unstyled {
  padding: 0;
  margin: 0;
  list-style: none; }

/* line 19, ../css/mrt_base.scss */
.small-button {
  display: inline-block;
  padding: 5px 16px;
  background: #00CC67;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: background 200ms;
  transition: background 200ms; }
  /* line 28, ../css/mrt_base.scss */
  .small-button:hover {
    background: #00e674;
    color: #fff; }
  /* line 33, ../css/mrt_base.scss */
  .small-button:active, .small-button:focus {
    background: #00b35a;
    color: #fff; }

/* line 3, ../css/index.scss */
a {
  text-decoration: none;
  color: #00CC67; }
  /* line 7, ../css/index.scss */
  a:hover, a:focus, a:active {
    color: #00994d; }

/* line 12, ../css/index.scss */
p, a, h1, h2 {
  font-family: 'Lato', sans-serif; }

/* line 16, ../css/index.scss */
#header-area {
  padding: 20px 40px;
  background-image: url("img/pw_maze_white.png");
  background-repeat: repeat; }
  /* line 21, ../css/index.scss */
  #header-area h1, #header-area h2, #header-area h3 {
    display: inline;
    color: #3F3F3F; }
  /* line 26, ../css/index.scss */
  #header-area .after-light {
    margin-left: 10px;
    font-weight: 300;
    color: #aaaaaa; }

/* line 33, ../css/index.scss */
#content-container {
  margin: auto;
  max-width: 800px;
  padding: 0 15px; }

/* line 40, ../css/index.scss */
#profile-image-container img {
  float: right;
  margin: 10px;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

/* line 50, ../css/index.scss */
#subheader {
  margin-top: 10px; }
  /* line 53, ../css/index.scss */
  #subheader li {
    display: inline-block;
    margin-left: 20px; }
    /* line 57, ../css/index.scss */
    #subheader li:first-child {
      margin-left: 0; }

@media all and (max-width: 600px) {
  /* line 64, ../css/index.scss */
  #header-area {
    padding: 10px;
    text-align: center; }
    /* line 68, ../css/index.scss */
    #header-area h1 {
      font-size: 1.6em;
      display: block;
      margin: 0; }
    /* line 74, ../css/index.scss */
    #header-area .after-light {
      margin-left: 0; }

  /* line 80, ../css/index.scss */
  #subheader li {
    display: inline-block;
    margin-left: 10px; }

  /* line 86, ../css/index.scss */
  #profile-image-container img {
    height: 100px; } }
