$orange: #CC8905;
$brown: #997021;
$salmon: #FF6700;
$teal: #00FFC9;
$green: #00CC67;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face { 
  font-family: Fabrica; src: url('/fonts/Fabrica.otf'); 
} 

ul.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.small-button {
  display: inline-block;
  padding: 5px 16px;
  background: $green;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: background 200ms;
  transition: background 200ms;

  &:hover {
    background: lighten($green, 5%);
    color: #fff;
  }

  &:active, &:focus {
    background: darken($green, 5%);
    color: #fff;
  }
}
