#header-area
  %h1 Michael Thompson
  %h1.after-light Software Engineer
  #subheader
    %ul.unstyled
      %li
        %a.small-button{href: '/MichaelThompsonResume2014.pdf', title: 'Michael Thompson\'s Resume', download: "MichaelThompsonResume2014.pdf"} Resume
      %li
        %a.small-button{href: 'http://www.linkedin.com/pub/michael-thompson/2b/95b/425/', title: 'LinkedIn Profile', target: '_blank'} LinkedIn
      %li
        %a.small-button{href: 'http://www.github.com/mthomps', title: 'GitHub', target: '_blank'} Github
