---
title: Michael Thompson, Software Engineer
---
= partial 'header'

#content-container
  #profile-container
    %h2 Hi!
    #profile-image-container
      %img{src: 'img/profile_pic.png', title: 'Michael Thompson\'s picture at Machu Picchu'}
    %p 
      I'm a software engineer living in San Francisco.

  %h2 I code!
  %p#mightybell
    Most recently I worked in Palo Alto doing full-stack Ruby on Rails development for a startup focusing on social networks for communities,
    = succeed '.' do
      %a{href: 'https://mightybell.com', title: 'Mightybell', target: '_blank'} Mightybell
  %p#where During school I was an iOS developer for a location-based discovery iPhone app, whose company got bought by eBay while I was there in 2011. 
  %p#hobby
    I'm currently working on a hobby project to build a Ruby web server that plays Texas Hold'em. You can check it out on
    = succeed '.' do
      %a{href: 'http://www.github.com/mthomps', title: 'GitHub', target: '_blank'} my GitHub page
  %p
    See my
    %a{href: '/MichaelThompsonResume2014.pdf', title: 'Michael Thompson\'s Resume'} resume
    and
    %a{href: 'http://www.linkedin.com/pub/michael-thompson/2b/95b/425/', title: 'LinkedIn Profile', target: '_blank'} LinkedIn profile
    for more information.

  %h2 Hire me!
  %p
    I would love to hear about engineering teams in San Francisco that are recruiting, please contact me at
    %a{href: 'mailto:mroythompson@gmail.com'} m.roy.thompson@gmail.com
    if you want to get to know me better.
